body{
    background: linear-gradient(to right, #11d171, #94f674, #5bede8);
    height: 1000px;
    margin: 0;
    padding: 0;
}
.umumiy{
    border: 1px solid #000;
}

.ota{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 50px 400px 40px;
}

.logo{
    grid-column: 1 / 3;

}

.footer{
    grid-column: 1 / 3;
}

.link1{
    text-decoration: none;
    padding: 10px;
    color: chartreuse;
    font-size: larger;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu_div{
    background-color: aqua;
    width: 100%;
    text-align: center;
}

.content{
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px;
    grid-gap: 10px;
    padding: 10px;
}

.ichindagi_katak{
    border: 1px solid #000;
}